/* Global styles */
body {
    padding: auto;
    margin: auto;
    font-family: 'Arial', sans-serif;
    background-color: #0d0d0d;
    color: white;
    width: 90%;
    border: cyan solid 2px;
}

header {
    padding: 5px;
    background-color: #2c2c2c;

}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: #0d0d0d;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.content {
    max-width: 600px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 36px;
    color: cyan;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.highlight {
    color: cyan;
}

.socials {
    margin-top: 20px;
}

.socials a {
    color: white;
    margin-right: 15px;
    font-size: 24px;
    text-decoration: none;
}

.socials a:hover {
    color: cyan;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: cyan;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 25px;
}

.image-container {
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
}

.image-container img {
    width: 400px;
    border-radius: 20px;
    align-items: center;
}
