.row {
  display: flex;
  flex: 50%;
  padding: auto;
}
.column {
  flex: 50%;
  padding: 10px;
}
.box {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}
