table{
    width: 100%;
    border-collapse: collapse;
}
td{
    padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th{
    background-color: #4caf50;
    color: white;
}

tr :hover{
    background-color: rgb(142, 173, 199);
}